vich_uploader:
    db_driver: orm
    metadata:
        type: attribute
    mappings:
        course:
            uri_prefix: /uploads/courses
            upload_destination: '%kernel.project_dir%/public/uploads/courses'
            namer: Vich\UploaderBundle\Naming\SmartUniqueNamer

            inject_on_load: false
            delete_on_update: true
            delete_on_remove: true

 #       assinment_files:
  #          uri_prefix: /uploads/assignments
  #          upload_destination: '%kernel.project_dir%/public/uploads/assignments'

   #         inject_on_load: false
    #        delete_on_update: true
     #       delete_on_remove: true