<div class="footer-wrapper">
    <div class="footer-section f-section-1">
        <p class="">Copyright © 2022 , All rights reserved.</p>
    </div>
    <div class="footer-section f-section-2">
            ROLE & PRIVILEGES : {{ app.user.roles[0] }}
    </div>
</div>